@import '~taro-ui/dist/style/variables/default.scss';
@import "~taro-ui/dist/style/components/flex.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/nav-bar.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/tabs.scss";
@import "~taro-ui/dist/style/components/activity-indicator.scss";
@import '~taro-ui/dist/style/components/loading.scss';

.load {
    .at-loading__ring{
        border-width: 2PX;
    }
}

.tabs-info {
    width: 750rpx;
    //right:200rpx;
    margin-bottom: 20rpx;
    
    .at-tabs__item {
        background-color: #F9F9F900;
        width:50%;
        height: 60rpx;
        font-size: 34px;
        color: #FEFFFF;
        padding: 10px 0px;
        font-weight: 500;
    }
    .at-tabs__item--active {
        color: #FEFFFF;
        font-weight: bold;
    }
    .at-tabs__item-underline {
        left:29%;
        bottom: 5%;
        width: 40%;
        height: 6%;
        background-color: #FEFFFF;
        border-radius: 5px;
    }
    .at-tabs__header {
        height: 80rpx;
        background-color: #F9F9F900;
    }
    .at-tabs__underline {
        background-color: #ffffff00;
    }
    
}

.nav-bar-info{
    &.at-nav-bar{
        background-color:rgba(255, 255, 255, 0);
    }
    .at-icon{
        color:#fff;
    }
}

.day-tabs-info{
    @import "~taro-ui/dist/style/components/tabs.scss";
    .at-tabs__item{
        background-color: #FCF4EB;
        height: 90rpx;
        width: 13.5%;
        word-break:keep-all;
        word-wrap: break-word;
        white-space: pre-line;
        font-size: 30px;
        padding: 10px $spacing-h-lg;
        font-weight: 520;
    }
    
    .at-tabs__item--active{
        color: #FCA62F;
        font-weight:bold;
    }
    
    .at-tabs__item-underline{
        left: 35%;
        bottom: 8%;
        width: 30%;
        height: 6%;
        background-color: #FCA62F;
        border-radius: 5px;
    }
    
    .at-tabs__header{
        height: 100rpx;
    }
}

.queue-tab-info {
    display: flex;
    height: 230px;
    width: 90%;
    margin-left: 5%;
    margin-top: 3%;
    margin-bottom: 2%;
    border-radius: 20px;
    background: #00000000;
    box-shadow: 0px 8px 8px #979797;
}

.play-pic-info {
    width: 18.5vw;
    height: 26vw;
    border-radius: 10%;
}

.play-pic-position-info {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.play-pic-label-info {
    position: absolute;
    font-size: 18px;
    color: #fff;
    top: 11%;
    left: 65%;
    box-sizing: content-box;
    border: 0px none #000;
    background-color: #32323277;
    padding: 1% 4%;
    border-radius: 15%;
}

.play-intro-info {
    margin-left: 5%;
}

.play-name-position-info {
    height: 60px;
    font-size: 36px;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
}

.play-time-position-info {
    height: 55px;
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
}

.play-headcount-position-info {
    height: 50px;
}

.play-headcount-info {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
}

.play-male-position-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-bottom: 1%;
    font-size: 20px;
    color: #1296DB;
    background-color: #78aef94f;
    margin-top: 5.5%;
    padding: 0% 2%;
    border-radius: 10px;
}

.play-female-position-info {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5%;
    margin-bottom: 1%;
    font-size: 20px;
    color: #E99BBF;
    background-color: #E89CC04f;
    margin-top: 5.5%;
    padding: 0% 2%;
    border-radius: 10px;
}

.gender-icon-info {
    width: 3vw;
    height: 3vw;
}

.confirm-button {
    align-items: center;
    height: 55%;
    width: 85%;
    top: 30%;
    font-size: 24px;
    border: 0PX none;
    background-color: #FCA62F;
    &.at-button--disabled {
        background-color: #A5A5A5;
    }
}