@import '~taro-ui/dist/style/variables/default.scss';
@import "~taro-ui/dist/style/components/flex.scss";
@import "~taro-ui/dist/style/components/nav-bar.scss";
//nav-bar.scss
//注释掉:@include hairline-bottom();
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/input.scss";
//input.scss
//注释掉:@include hairline-bottom();
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/image-picker.scss";
@import "~taro-ui/dist/style/components/activity-indicator.scss";
@import '~taro-ui/dist/style/components/loading.scss';
@import "~taro-ui/dist/style/components/switch.scss";
@import "~taro-ui/dist/style/components/textarea.scss";

$at-input-font-size: 28px;

.nav-bar-info {
    &.at-nav-bar {
        background-color: rgba(255, 255, 255, 0);
    }
    .at-icon {
        color: #fff;
    }
}

.name-input-css{
    &.at-input{
        padding: 0 0;
        margin-left: 4%;
    }
}

.storeInfo-input-css{
    
    &.at-input{
        padding: 0 0;
        margin-left: 4%;
        width: 400rpx;
    }

    .at-input__input{
        font-size: 24px;
    }
}

.playInfo-num-input-css{
    
    &.at-input{
        padding: 0 0;
        margin-left: 4%;
        width: 400rpx;

        input {
            height: 30rpx;
        }
    }

    .at-input__input{
        font-size: 20px;
    }
}

.playIntro-css{
    &.at-textarea{
        font-size: 24px;
        background-color:#FEECD3;
    }

    .at-textarea__textarea{
        font-size: 24px;
        height: 200rpx;
        white-space:pre-wrap;
    }
}

.confirm-button {
    align-items: center;
    height: 55%;
    width: 85%;
    top: 30%;
    font-size: 24px;
    border: 0PX none;
    background-color: #FCA62F;
    &.at-button--disabled {
        background-color: #A5A5A5;
    }
}

.try-button {
    align-items: center;
    height: 100%;
    width: 85%;
    top: 30%;
    font-size: 24px;
    border: 1.5PX solid  #FCA62F;
    background-color: #FCA62F00;
    &.at-button--disabled {
        background-color: #A5A5A5;
    }

    &.at-button--secondary{
        color: #FCA62F;
    }
}

.validate-input-css{
    &.at-input{
        padding: 0 0;
        margin-left: 4%;
        width:15%;
    }
}

.switch-info{
    zoom: 0.7;
    align-items: center;
    display:flex;
    margin-left: 150rpx;
}