@import '~taro-ui/dist/style/variables/default.scss';
@import "~taro-ui/dist/style/components/flex.scss";
@import "~taro-ui/dist/style/components/nav-bar.scss";
//nav-bar.scss
//注释掉:@include hairline-bottom();
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/input.scss";
//input.scss
//注释掉:@include hairline-bottom();
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/image-picker.scss";

$at-input-font-size: 28px;

.nav-bar-info {
    &.at-nav-bar {
        background-color: rgba(255, 255, 255, 0);
    }
    .at-icon {
        color: #fff;
    }
}

.name-input-css{
    &.at-input{
        padding: 0 0;
        margin-left: 4%;
    }
    
}

.confirm-button {
    align-items: center;
    height: 55%;
    width: 85%;
    top: 30%;
    font-size: 24px;
    border: 0PX none;
    background-color: #FCA62F;
    &.at-button--disabled {
        background-color: #A5A5A5;
    }
}

.validate-input-css{
    &.at-input{
        padding: 0 0;
        margin-left: 4%;
        width:15%;
    }
}