@import '~taro-ui/dist/style/variables/default.scss';
@import "~taro-ui/dist/style/components/flex.scss";
@import "~taro-ui/dist/style/components/icon.scss";
@import "~taro-ui/dist/style/components/button.scss";
@import "~taro-ui/dist/style/components/input.scss";

.join-platform-button{
    align-items: center;
    width:40%;
    font-size: 40px;
    border: 0PX none;
    background-color: #00000080;
    border-radius: 20rpx;
    &.at-button--disabled {
        background-color: #A5A5A5;
    }
}

.login-button{
    align-items: center;
    width:50%;
    font-size: 40px;
    border: 0PX none;
    background-color: #04BE02;
    &.at-button--disabled {
        background-color: #A5A5A5;
    }
}

.open-store-button{
    align-items: center;
    width:70%;
    font-size: 34px;
    border: 0PX none;
    background-color: #FCA62F;
    &.at-button--disabled {
        background-color: #A5A5A5;
    }
}

.test-h{
    position: absolute;
    height: 100vh;
    width:100vw;
}